body{
    text-align: center;
    background-color: #E1C603;

}
#Id
<!---
PARA CRIAR A ID USA #NOME DE IDENTIFICAÇÃO DA IMAGEM
--->

{
    width: 100%;
  <!---
quando utilizamos width : 100% deixamos a imagem escolhida com 100% de largura da tela, independente do tamanho da tela
--->
}

h1{
  height: 150px;
    color: #ECD2DF;
        

  background-color:  #CCCCCC;

  font-size: 80px;

  font-style: italic;
 
}
h2{
    Color:   #DD7E6B

}
